.upload-input {
  display: inline-block;
}
.upload-file-input {
  display: none;
}

.upload-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.upload-list-item {
  margin-top: 5px;

  font-size: 14px;
  line-height: 2em;
  font-weight: bold;

  box-sizing: border-box;
  min-width: 200px;

  position: relative;

  &-success {
    color: blue;
  }

  &-error {
    color: red;
  }

  .file-name {
    .anticon {
      margin-right: 10px;
    }
  }

  .file-actions {
    display: none;

    position: absolute;
    right: 7px;
    top: 0;

    cursor: pointer;
  }

  &:hover {
    .file-actions {
      display: block;
    }
  }
}
